{% extends 'base.html' %}
{% load static %}
{% block title %}homeview{% endblock %}


{% block styles %}

<style>
/* style.css */
.left-section {
  width: 30%;
  background-color: #187a92;
  margin-top: 0px; /* Add margin-top to create a gap */
  height: 50vh;

}

.right-section {
  width: 70%;
  position: relative;
  margin-top: 0px;  

}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: image-change 20s infinite;
  /*margin-top: 10px; Add margin-top to create a gap */
  z-index: 1;
}

@keyframes image-change {
  0% {
    background-image: url('../img/1.jpeg');
  }
  25% {
    background-image: url('../img/2.jpeg');
  }
  50% {
    background-image: url('../img/3.jpeg');
  }
  75% {
    background-image: url('../img/4.jpeg');
  }
  100% {
    background-image: url('../img/5.jpeg');
  }
}

.content h2 {
  color: #fff;
  font-size: 2.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
</style>

{% endblock %}

{% block content %}
<div class="container2">
  <!-- Main content-- Background images and test section -->
  <div class="wrapper">
    <div class="left-section">
      <h2>Left Section Content</h2>
      <p> What is machine learning and what can it do?
      <!-- Add your content for the left section here -->
    </div>
    <div class="right-section">
      <div class="title-container"
          data-image-1="{% static 'img/1.jpeg' %}"
          data-image-2="{% static 'img/2.jpeg' %}"
          data-image-3="{% static 'img/3.jpeg' %}"
          data-image-4="{% static 'img/4.jpeg' %}"
          data-image-5="{% static 'img/5.jpeg' %}">
          <div class="content">
            <h2>Machine Learning In Geotech</h2>
            <h2>Machine Learning In Geotech</h2>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
// JavaScript or jQuery code to change the background images
$(document).ready(function() {
    var titleContainer = $(".title-container");
    var imageCount = 5; // Number of images to cycle through
    var animationDuration = 20000; // Duration of the animation in milliseconds
  
    function changeBackgroundImage() {
      for (var i = 1; i <= imageCount; i++) {
        var dataAttr = "data-image-" + i;
        var imageUrl = titleContainer.attr(dataAttr);
        if (imageUrl) {
          titleContainer.css("background-image", "url('" + imageUrl + "')");
          break;
        }
      }
    }
  
    setInterval(changeBackgroundImage, animationDuration);
  });

</script>
{% endblock %}


